<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Accueil</title>
  <link rel="stylesheet" href="../assets/accueil.css">
</head>
<body> 
  <div class="container">
    <h1>Propositions de jeux</h1>
    <div class="carousel">
      <a href="snake.html" class="card-link"><div class="card"><img src="snake.jpg" alt="Snake"></div></a>
      <a href="ticTacToe.html" class="card-link"><div class="card"><img src="ticTacToe.jpg" alt="TicTacToe"></div></a>
      <a href="calculateur.html" class="card-link"><div class="card"><img src="calculateur.jpg" alt="Calculateur de Vitesse de frappe au clavier"></div></a>
      <a href="visual_memory_test.html" class="card-link"><div class="card"><img src="visual_memory_test.jpg" alt="Visual Memory Test"></div></a>
      <a href="tri_a_bulle_visuel.html" class="card-link"><div class="card"><img src="tri_a_bulle_visuel.jpg" alt="Tri à bulle visuel"></div></a>
      <a href="hangman.html" class="card-link"><div class="card"><img src="hangman.jpg" alt="Hangman"></div></a>
    </div>
  </div>
  <script src="../scripts/accueil.js"></script>
</body>
</html>
