<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="../assets/css/accueil.css">
    <link rel="stylesheet" href="../scripts/accueil.js">
</head>
<body>
    <h1>Welcome ! Free games oline here </h1>
    <div class="login-container">
        
        <h2>Enter Your Username</h2>
        <form id="login-form">
            <input type="text" id="pseudoInput" placeholder="Entrez votre pseudo">
            <button id="submitButton">Valider</button>
            
        </form>
    </div>
    <script src="script.js"></script>
</body>
</html>
