<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>choixJeux</title>
  <link rel="stylesheet" href="../assets/css/choixJeux.css">
</head>
<body>
  <div class="container">
    <h1 class="title">Propositions de jeux</h1>
    <h1 id="welcomeMessage"></h1>
    <div class="carousel">
      <button class="scroll-button prev-button" onclick="scrollCarousel(-200)">&#10094;</button> <!-- Flèche gauche -->
      <div class="card-wrapper">
        <div class="card">
          <h2 class="game-title">Snake</h2>
          <a href="snake.html" class="card-link"><img src="../assets/img/snake.png" alt="Snake"></a>
        </div>
      </div>
      <div class="card-wrapper">
        <div class="card">
          <h2 class="game-title">TicTacToe</h2>
          <a href="ticTacToe.html" class="card-link"><img src="../assets/img/ticTacToe.png" alt="TicTacToe"></a>
        </div>
      </div>
      <div class="card-wrapper">
        <div class="card">
          <h2 class="game-title">Calculateur de Vitesse</h2>
          <a href="typingSpeedTest.html" class="card-link"><img src="../assets/img/typingSpeedTest.jpg" alt="Typing Speed Test"></a>
        </div>
      </div>
      <div class="card-wrapper">
        <div class="card">
          <h2 class="game-title">Visual Memory Test</h2>
          <a href="visualMemoryTest.html" class="card-link"><img src="../assets/img/visualMemoryTest.jpg" alt="Visual Memory Test"></a>
        </div>
      </div>
      <div class="card-wrapper">
        <div class="card">
          <h2 class="game-title">Tri à bulle visuel</h2>
          <a href="triBulle.html" class="card-link"><img src="../assets/img/triBulle.jpg" alt="Tri à bulle visuel"></a>
        </div>
      </div>
      <div class="card-wrapper">
        <div class="card">
          <h2 class="game-title">Hangman</h2>
          <a href="hangman.html" class="card-link"><img src="../assets/img/hangman.jpg" alt="Hangman"></a>
        </div>
      </div>
      <button class="scroll-button next-button" onclick="scrollCarousel(200)">&#10095;</button> <!-- Flèche droite -->
    </div>
  </div>
  <script src="../scripts/choixJeux.js"></script>
</body>
</html>
