<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TicTacToePage</title>
    <link rel="stylesheet" href="assets/ticTacToe.css">
    <script src="Web/templates/ticTacToejs.js"script></script>
</head>
<body>
    <div id="Jeu">
        <div>
          <button></button>
          <button></button>
          <button></button>
        </div>
        <div>
          <button></button>
          <button></button>
          <button></button>
        </div>
        <div>
          <button></button>
          <button></button>
          <button></button>
        </div>
        <div id="StatutJeu"></div>
      </div>
      <button id="Recommencer">Recommencer</button>
      <script src="/scripts/main.js"></script>
</body>
</html>